.loader-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loader-spinner {
  border: 8px solid #474e68; /* Light gray */
  border-top: 8px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
