.homeScreen-title {
  margin-top: 10px;
}

.product-title {
  margin-top: 10px;
}

@media (min-width: 700px) {
  .product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
