.form-container {
  max-width: 1025px;
  background-color: #ffff;
  height: auto;
  /* border: 1px solid black; */
  margin: 3rem 0;
  padding: 50px;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 1.75rem 2rem;
}

.form-label {
  font-size: 18px;
}

.form-input-field {
  background-color: #f7f7f9;
  color: #97a1a7;
  width: 100%;
  padding: 12px;
  border: none;
  margin: 1rem 0;
}

.form-submit-btn {
  width: 150px;
  height: 41px;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

.form-submit-btn:hover,
.form-submit-btn:active {
  opacity: 0.95;
}

.form-account-already-exist-link {
  text-decoration: none;
  color: #1a1a1a;
  margin-top: 30px;
}

.form-account-already-exist-text {
  font-size: 18px;
  text-transform: capitalize;
}
