.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 15px;
}

.message-info {
  background-color: #d9edf7;
  color: #31708f;
  border: 1px solid #bce8f1;
}

.message-success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.message-error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}

.message-warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border: 1px solid #faebcc;
}
