:root {
  --primary-color-1: #2e323f;
  --primary-color-2: #474e68;
  --primary-color-3: #50577a;
  --primary-color-4: #6b728e;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
html,
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  margin: 0;
}

.main {
  min-height: 80vh;
}

.container {
  width: 85%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}
