*,
::before,
::after {
  box-sizing: border-box;
}

body,
html,
* {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  margin-top: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.main {
  min-height: 80vh;
}

.container {
  width: 85%;
  max-width: 1120px;
  margin: 0 auto;
}
