.header {
  background-color: #2c3238;
  margin: 0;
  padding: 30px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0 0.6em;
}

.nav-link {
  color: #6e7278;
  text-decoration: none;
  text-transform: uppercase;
}

.lucide-shopping-cart,
.lucide-user {
  margin: -3px 6px;
}
