.product-card {
  background-color: #fff;
  width: 260px;
  height: 350px;
  box-shadow: 0px 0px 2px 0 #3e455a;
  margin-top: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.product-img {
  width: 100%;
  padding: 16px;
}

.product-name,
.product-rating,
.product-price {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 10px 0 0 20px;
}
